* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  font-size: 16px;
}

.main {
display: grid;
grid-template-columns: 1fr 325px 1fr;
grid-template-rows: 1fr 325px 4fr;
height: 1000px;
width: 100%;
justify-content: center;

}

.box {
width: 100%;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.1px;
-webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
-moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
border-radius: 20px;
}

.box p {
  margin: auto;
  margin-top: 10%;
  font-size: 1.25rem;
  font-weight: bold;
}

.button {
background-color: #15599d;
color: white;
grid-area: 2 / 2 / span 1 / span 1;
z-index: 2;
animation-name: none;
animation-duration: 1s;
}

.inputs {
font-size: 2rem;
background-color:#E7E7E7;
color: #15599d;
grid-area: 2 / 2 / span 1 / span 1;
z-index: 1;
animation-name: none;
animation-duration: 1s;
}

.box p {
  margin: auto;
  margin-top: 10%;
  font-size: 1.25rem;
  font-weight: bold;
}


/*Flip animation - START - keyframes*/

@-webkit-keyframes flip-2-hor-top-bck {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
            transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

/*Flip animation - END - keyframes*/


/* landing card */
.title-logo {
  margin: 15px auto;
  display: block;
}

#Banjo {
  width: 20%;
}

#Golf {
  width: 10%;
  margin-top: 10%;
}

.inputs #Golf {
  width: 10%;
  margin-top: -5px;
}

#Bluegrass-font {
font-family: 'Rye', cursive;
font-size: 1.5rem;
font-weight: normal;
letter-spacing: 0.1rem;
}

#click {
  color: #15599d;
  margin-top: 10%;
  font-size: 0.75rem;
  font-weight: bold;
}

.button #click {
  color: white;
  margin-top: 10%;
  font-size: 0.75rem;
  font-weight: bold;
}

/* inputs card */

#title-dismiss {
  width: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 270px
}

#input-container {
  margin-top: 25px;
  margin
}

#form-text {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Rye', cursive;
  letter-spacing: 1px;
  color: #15599d;
  margin: 0px;

}

#form-box {
  margin: 10px 5px 2px 5px;
  padding: 5px;
}


/* -HOMEPAGE STYLING */

.construction {
  color: #15599d;
  grid-area: 2 / 2 / span 1 / span 1;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border: 2px solid #15599d;
  border-radius: 10px;
  font-weight: bold;
  }

#engineer {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 150px;
  display: block;
}

#return-home {
  margin-top: 10px;
  margin-left: 265px;
  width: 20px;
  display: block;
}


@media only screen and (max-width: 500px) {
}
