
/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  font-size: 16px;
}


.box {
width: 100%;
text-transform: uppercase;
letter-spacing: 0.1px;
-webkit-box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
-moz-box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
border-radius: 20px;

}

.box p {
  margin: auto;
  margin-top: 10%;
  font-size: 1.25rem;
  font-weight: bold;
}

/* LANDING PAGE */
.landing-main {
text-align: center;
display: grid;
grid-template-columns: 1fr 325px 1fr;
grid-template-rows: 1fr 325px 4fr;
height: 1000px;
width: 100%;
justify-content: center;

}

.button {
text-align: center;
color: white;
background-color: #15599d;
grid-area: 2 / 2 / span 1 / span 1;
z-index: 2;
animation-name: none;
animation-duration: 1s;
}

.inputs {
font-size: 2rem;
background-color:#E7E7E7;
color: #15599d;
grid-area: 2 / 2 / span 1 / span 1;
z-index: 1;
animation-name: none;
animation-duration: 1s;
}

@-webkit-keyframes flip-2-hor-top-bck {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
            transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

/* Landing page cards */
#Banjo {
  width: 30%;
  margin-top: 10px;
}

#Golf {
  width: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
}

#click {
  color: #15599d;
  font-size: 0.75rem;
  margin-top: 10px;
  font-weight: bold;
}

.button #click {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 15px;
}

/* --landing card */
.title-logo {
  margin: 5px auto;
  display: block;
}

#Bluegrass-font {
font-family: 'Rye', cursive;
font-size: 1.5rem;
font-weight: normal;
letter-spacing: 0.1rem;
}

/* -- input card */

.inputs #Golf {
  width: 10%;
  margin-top: 5px;
}

#title-dismiss {
  width: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 270px
}

.input-container {
  height: 25%;
  width: 90%;
  display: block;
  margin: 5px auto;
  margin-bottom: 0px;
  text-align: left;

}

.input-text {
  height: 50px;
  width: 140px;
  border: 1px solid white;
  display: inline-block;
  margin: 2px 2px 0px 3px;
  margin-top: 15px;
  background-color: white;
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  font-family: 'Rye', cursive;
  font-size: 0.75rem;
}

.dropdown {
  height: 50px;
  width: 140px;
  border: 1px solid white;
  display: inline-block;
  font-size: 0.75rem;
  position: absolute;
  margin: 2px;
  margin-top: 15px;
  background-color: white;
  padding-top: 18px;
  padding-left: 6px;
  color: white;
  font-family: 'Rye', cursive;
  font-weight: bold;
  text-align: LEFT;
  background-color: #15599d;
}

#dropdownIcon {
  width: 25px;
  display: inline;
  position: absolute;
  margin-left: 20px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 5px
}

.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    background-color: #f1f1f1;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.playerName {
    font-weight: normal;
    letter-spacing: 0em;
    color: #15599d;
    padding: 10px 0px 10px 3px;
    text-decoration: none;
    display: block;

}


/* HOMEPAGE STYLING */

.header {
  height: 90px;
  width: 100%;
  background-color: #15599d;
  z-index: 10;
  text-align: center;
  position: fixed;
  top: 0px;
}
.IconBox {
  border: 1px solid white;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  display: inline-block;
  margin: 25px 10px;
}

.home-exit {
border: 1px solid white;
}

#header-icons {
  padding-top: 4px;
  width: 35px;
}

.homepage-main {
  display: grid;
  grid-template-columns: 50px 325px 50px;
  grid-template-rows: 105px repeat(3,150px) 1fr;
  height: 100%;
  width: 100%;
  justify-content: center;

}

.homepage {
  width: 300px;
  height: 135px;
  justify-self: center;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border-radius: 10px;
  font-weight: bold;
  }

  .homepage-filter {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    position: absolute;
  }

  .homepage-content {
    z-index: 6;
    height: 100%;
    width: 100%;
    opacity: 1;
    color: white;
    position: relative;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 1.25rem;
  }

  .homepage-content img {
    width: 60px;
    display: block;
    margin: 30px auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px white solid;
    border-radius: 10px;
  }

  #leaderboard {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 1;
    background-image: URL("https://golftourney-arpjhjcmhvhe.netdna-ssl.com/wp-content/uploads/2015/01/leaderboard.jpg");
    background-repeat: no-repeat;
    background-size: auto 160px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  #scores {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 1;
    background-image: URL("http://www.sportsandoutdoorstips.com/wp-content/uploads/2017/03/How-to-Understand-a-Golf-Sc.gif");
    background-repeat: no-repeat;
    background-size: auto 250px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  #tourDetails {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 1;
    background-image: URL("https://media.golfdigest.com/photos/55d4e2d44759c60c08238ae1/master/pass/courses-2009-04-coar01_19thhole.jpg");
    background-repeat: no-repeat;
    background-size: auto 190px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

/* -TOUR HISTORY STYLING */

.tourHistory-main {
  display: grid;
  grid-template-columns: 50px 325px 50px;
  grid-template-rows: 1fr repeat(6,125px) 3fr;
  height: 1000px;
  width: 100%;
  justify-content: center;
}

.standard-nav {
  color: white;
  width: 300px;
  height: 100px;
  justify-self: center;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border-radius: 10px;
  font-weight: bold;
  padding: 2%;
  }

/* Three content boxes */
.tourTitle {
  display: block;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 1rem;
}

.greenJacketLogo {
  height: 50px;
  width: 175px;
  font-size: 1rem;
  display: inline-block;
  padding-top: 0px;
}

.tour-winner {
  height: 50px;
  width: 125px;
  text-align: left;
  font-size: 0.75rem;
  text-transform: capitalize;
  display: inline-block;
  padding-top: 15px;
  position: absolute;
}
/* Three content boxes */

/* Logos */
  #GreenJacket {
    width: 20px;
    position: relative;
    margin-top: 13px;
    margin-left: 150px;
  }

  #Course-logo {
    width: 25px;
    margin-right: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px;
  }
/* Logos */


  /* INDIVIDUAL CARDS */

  .Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 3;
    border: 3px solid white;

    }

  .filter-Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #f5ed0e;
    opacity: 0.1;
    z-index: 2;

    }

  .image-Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    background-image: url("http://www.mygolfvacation.com/AdvHTML_Upload/griffin1_3.jpg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: center;
    z-index: 1;

    }

    .Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid #F2F2F2;


          }

    .filter-Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      background-color: #ff956f;
      opacity: 0.5;
      z-index: 2;

      }

    .image-Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      background-image: url("http://www.teetimes.info/wp-content/uploads/2017/10/Chechessee-Creek-Club-South-Carolina1.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(1px);
      -webkit-filter: blur(1px);
      }

    .Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;
    }

    .filter-Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      background-color: #32b86a;
      opacity: 0.4;
      z-index: 2;
      }

    .image-Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      background-image: url("https://thegolfnewsnet.com/wp-content/uploads/2016/12/TOBACCOROAD-14-BRIANOAR-990x556.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      }

    .Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;
    }

    .filter-Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      background-color: #B47B34;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      background-image: url("https://golfadvisor.brightspotcdn.com/dims4/default/2cc70bd/2147483647/strip/true/crop/930x600+176+0/resize/930x600!/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F8d%2F0f%2F1e3a2912c47d3040e03014f05702%2F93117.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Dallas {
    grid-area: 6 / 2 / span 1 / span 1;
    z-index: 3;
    border: 2px solid white;

    }

    .filter-Dallas {
      grid-area: 6 / 2 / span 1 / span 1;
      background-color: #001643;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Dallas {
      grid-area: 6 / 2 / span 1 / span 1;
      background-image: url("https://www.cowboysgolfclub.com/sites/www.cowboysgolfclub.com/files/Copy%20of%20course_star.JPG");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Tampa {
    grid-area: 7 / 2 / span 1 / span 1;
    z-index: 3;
    border: 2px solid white;

    }

    .filter-Tampa {
      grid-area: 7 / 2 / span 1 / span 1;
      background-color: #f5ed0e;
      opacity: 0.2;
      z-index: 2;

      }

    .image-Tampa {
      grid-area: 7 / 2 / span 1 / span 1;
      background-image: url("https://golfadvisor.brightspotcdn.com/dims4/default/928717c/2147483647/strip/true/crop/1280x764+0+44/resize/1440x860!/format/jpg/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F51%2F0a%2F83f3a3efcb28b6dd81854b7c5d8f%2Fp.php");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;

    }

    .filter-Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      background-color: #8a8785 ;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      background-image: url("TheOrigin.JPG");
      background-repeat: no-repeat;
      background-size: auto 400px;
      background-position: center;
      z-index: 1;
      filter: blur(1px);
      -webkit-filter: blur(1px);

      }

  #return-home {
    margin-top: 10px;
    margin-left: 320px;
    width: 30px;
    display: block;
  }

/* Under Construction */

.construction {
  color: #15599d;
  grid-area: 2 / 2 / span 1 / span 1;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border: 2px solid #15599d;
  border-radius: 10px;
  font-weight: bold;
  }

#engineer {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 150px;
  display: block;
}
