
/**** GLOBAL ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  font-size: 14px;
}

/**** LANDING PAGE ****/

.landing-main {
text-align: center;
display: grid;
grid-template-columns: 1fr 275px 1fr;
grid-template-rows: 1fr 275px 4fr;
height: 1000px;
width: 100%;
justify-content: center;
}

.box {
width: 100%;
text-transform: uppercase;
letter-spacing: 0.1px;
-webkit-box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
-moz-box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
box-shadow: 1px 3px 62px -6px rgba(219,216,219,0.73);
border-radius: 20px;
}

.button {
color: white;
background-color: #15599d;
grid-area: 2 / 2 / span 1 / span 1;
z-index: 2;
animation-name: none;
animation-duration: 1s;
text-align: center;
}

.inputs {
color: #15599d;
background-color: #E7E7E7; /**/
grid-area: 2 / 2 / span 1 / span 1;
z-index: 1;
animation-name: none;
animation-duration: 1s;
text-align: center;
}

/* Login card containers & information */

.golfContainer {
  margin: 25px 0px;
  display: block;
  position: relative;
  top: 10px;
}

#Golf {
  width: 10%;
}

.infoContainer {
  display: block;
  height: 60px;
}

.formContainer {
  height: 90%;
  width: 80%;
  background-color: white;
  margin-left: 25px;
  border-radius: 10px;
  border: 1px solid #15599d;
}

.enterPassword {
  width: 80%;
  margin: 0 auto;
  padding: 0 auto;
  padding-top: 2px;
  color: #15599d;
  font-size: 0.8rem;
  text-align: center;
  outline: none;
  display: block;
  border-radius: 10px;
  border: none;
}

.passwordEnter {
  width:80%;
  margin: 10px auto;
  color: #15599d;
  font-size: 1.1rem;
  text-align: center;
  outline: none;
  border-radius: 10px;
  border: none;
}

#Bluegrass-font {
font-family: 'Rye', cursive;
font-size: 1.1rem;
font-weight: bold;
letter-spacing: 0.1rem;
}

.banjoContainer {
  margin: 10px 0 5px 0;
  display: block;
}

#Banjo {
  width: 30%;
}

.submitContainer {
  display: block;
}

#click {
  font-size: 0.75rem;
  font-weight: bold;
}

.button #click {
  color: white;
}

.inputs #click {
  color: #15599d;
}

.dismiss {
  width: 4%;
  display: none;
  position: absolute;
  left: 295px;
  top: 155px;
  margin-bottom: -10px;
}

.inputs.dismiss {

}


/* Animation */

@-webkit-keyframes flip-2-hor-top-bck {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
            transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
            transform: translateY(-100%) translateZ(-260px) rotateX(180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

/**** HOMEPAGE ****/

.header {
  height: 90px;
  width: 100%;
  background-color: #15599d;
  z-index: 50;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 3px solid white;
}
.IconBox {
  border: 1px solid white;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  display: inline-block;
  margin: 25px 10px;
}

.home-exit {
border: 1px solid white;
}

.activeIcon {
  background-color: white;
}

#header-icons {
  padding-top: 4px;
  width: 35px;
}

.subHeaderText {
height: 15px;
position: fixed;
z-index: 100;
top: 71px;
font-size: 0.7rem;
padding-top: 0.1%;
text-align: center;
font-weight: bold;
color: white;
}

.homepage-main {
  display: grid;
  grid-template-columns: 50px 325px 50px;
  grid-template-rows: 105px repeat(3,150px) 1fr;
  height: 100%;
  width: 100%;
  justify-content: center;

}

.homepage {
  width: 300px;
  height: 125px;
  justify-self: center;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border-radius: 10px;
  font-weight: bold;
  }

  #homepageLogo {
    width: 60px;
    display: block;
    margin: 30px auto;
    margin-bottom: 6px;
    padding: 5px;
    border: 1px white solid;
    border-radius: 10px;
  }

  #homepageText {
    color: white;
    font-size: 1.35rem;
    padding-bottom: 5px;

  }

/*Styling for homepage cards*/

  .leaderboard {
      grid-area: 2 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-leaderboard {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
  }

  .image-leaderboard {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("LeaderboardBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: top;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
  }

  .scores {
      grid-area: 3 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-scores {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
  }

  .image-scores {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("EnterScoresBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: top;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
  }

  .tourDetails {
      grid-area: 4 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-tourDetails {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
  }

  .image-tourDetails {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("TourDetailsBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto 210px;
    background-position: top;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
    box-shadow: 1px 1px 5px 2px rgba(158,158,158,1);
  }

/**** LEADERBOARD PAGE ****/

.Leaderboard-main {
  display: grid;
  grid-template-columns: 1fr repeat(1,325px) 1fr;
  grid-template-rows: 105px repeat(1,440px) 100px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

  .leaderboard-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: URL("https://www.golf.com/wp-content/uploads/2017/03/tiger-woods-1997.jpg");
    background-repeat: no-repeat;
    background-size: auto 600px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: 1;
  }

  .leaderboard-filter {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 5;
    height: 100%;
    width: 100%;
    justify-self: center;
    -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    border-radius: 10px;
    opacity: 0.7;
    background-color: black;
    position: relative;
    z-index: 2;
  }

  .leaderboard-content {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 10;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 2px solid white; /*#15599d*/
    justify-self: center;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
    border-radius: 0px;
    overflow: scroll;
    position: relative;
    z-index: 3;
  }

  .leader-table {
    table-layout: fixed;
    width: 95%;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;
    border-radius: 0px;
    position: relative;
    z-index: 4;
  }

  table {
    border-collapse: collapse;
    position: relative;
    top: 8px;
    border-radius: 0px;
    border-bottom: 2px solid white;
  }

  th {
    background-color: #15599d;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-weight: 400;
    height: 35px;
  }

  td {
    border-bottom: 1px dotted grey;
    height: 40px;
  }

  .LeaderName {
    width: 95%;
    padding-left: 5px;
    padding-right: 2px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    #LeadHead {
      padding-left: 8px;
      font-weight: bold;
    }

  .GrandTotal {
    width: 25%;
    font-weight: bold;
    }

  .DayTotal {
    width: 25%;
    }

  .LBPlayerNo {
    width: 15px;
    display: inline-block;
    vertical-align: 50%;
  }

  .LBPlayerImg {
    width: 25px;
    min-height: 25px;
    max-height: 25px;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    z-index: 10;
  }

  .LBPlayerText{
    display: inline-block;
    vertical-align: 50%;
    margin-left: 0px;
    margin-right: 0px;
  }


/**** ENTER SCORES PAGE ****/

.enterScore-main {
  display: grid;
  grid-template-columns: 50px repeat(2,155px) 50px;
  grid-template-rows: 105px repeat(3,150px) 1fr;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.enterScore {
  width: 300px;
  height: 125px;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border-radius: 10px;
  font-weight: bold;
  }

  #enterScoreLogo {
    width: 45px;
    display: block;
    margin: 25px auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px white solid;
    border-radius: 10px;
  }

  #enterScoreText {
    color: white;
    font-size: 1.15rem;
    padding-bottom: 5px;

  }

/*Styling for score entry cards */

  .Round1 {
      grid-area: 2 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-Round1 {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    justify-self: center;
  }

  .image-Round1 {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 95%;
    background-image: URL("Round1Image.jpg");
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  .Round2 {
      grid-area: 2 / 3 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-Round2 {
    grid-area: 2 / 3 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    justify-self: center;
  }

  .image-Round2 {
    grid-area: 2 / 3 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 95%;
    background-image: URL("Round2Image.jpg");
    background-repeat: no-repeat;
    background-size: auto 140px;
    background-position: left;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  .Round3 {
      grid-area: 3 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 95%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-Round3 {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 5;
    height: 95%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    justify-self: center;
  }

  .image-Round3 {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 1;
    height: 95%;
    width: 95%;
    background-image: URL("Round3Image.jpg");
    background-repeat: no-repeat;
    background-size: auto 180px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  .OtherGolf {
      grid-area: 3 / 3 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 95%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-OtherGolf {
    grid-area: 3 / 3 / span 1 / span 1;
    z-index: 5;
    height: 95%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    justify-self: center;
  }

  .image-OtherGolf {
    grid-area: 3 / 3 / span 1 / span 1;
    z-index: 1;
    height: 95%;
    width: 95%;
    background-image: URL("GolfActivitiesImage.jpg");
    background-repeat: no-repeat;
    background-size: auto 210px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  .Social {
      grid-area: 4 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 95%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-Social {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 5;
    height: 95%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
    justify-self: center;
  }

  .image-Social {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 1;
    height: 95%;
    width: 95%;
    background-image: URL("SocialActivitiesImage.jpg");
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  .Sports {
      grid-area: 4 / 3 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 95%;
      width: 95%;
      text-align: center;
      border: 2px solid white;
      justify-self: center;
  }

  .filter-Sports {
    grid-area: 4 / 3 / span 1 / span 1;
    z-index: 5;
    height: 95%;
    width: 95%;
    background-color: #15599d;
    opacity: 0.6;
    border-radius: 10px;
    justify-self: center;
  }

  .image-Sports {
    grid-area: 4 / 3 / span 1 / span 1;
    z-index: 1;
    height: 95%;
    width: 95%;
    background-image: URL("SportsBracketImage.jpg");
    background-repeat: no-repeat;
    background-size: auto 140px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
    justify-self: center;
  }

  /**** ENTER ROUND ONE PAGE ****/

  #subHeaderRoundDetails {
    left: 166px;
  }

  .EnterScoresContainerRound1 {
    background-color: grey;
    height: 460px;
    width: 100%;
    position: absolute;
    top: 90px;
    border-bottom: 2px solid #15599d;
    background-image:
    linear-gradient(
      rgba(21, 89, 157, 0.4),
      rgba(21, 89, 157, 0.4)
      ),URL("golfCourseBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: top;
  }

  .ScoreboardButtonRound1 {
    height: 45px;
    width: 83%;
    background-color: #15599d;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 2.75%;
    border: 2px solid white;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    -moz-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
  }

  #ScoreboardButtonText {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
  }

  .EnterScoresText {
    font-size: 1.1rem;
    padding: 0px 0px 5px 0px;
    margin-left: 40px;
    color: white;
    font-weight: bold;
  }

  .HolesContainerRound1 {
    height: 85%;
    width: 85%;
    margin: 0px auto;
    position: relative;
    top: 0px;
    text-align: center;
    z-index: 1;
  }

  .holeEntry, .ScorecardCheck {
    display: inline-block;
    margin: 5px 5px;
    height: 60px;
    padding: 16px 0;
    border: 2px solid white;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    -moz-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
  }

  .holeEntry {
    color: white;
    background-color: #15599d;
    font-weight: bold;
    width: 60px;
    border-radius: 55px;
    font-size: 1.1rem;
  }
  .ScorecardCheck {
    background-color: lightgrey;
    width: 134px;
    border-radius: 55px;
    font-size: 1rem;

  }

/* TO BE ADDED
  #LD {
    border: 3px solid hotpink;
  }
  #CTP {
    border: 3px solid lightgreen;
  }
  #Tussle {
    background-color: orange;
    color: black;
  }
  */

  .scoreEntryOne {
    height: 330px;
    width: 250px;
    background-color: #F2F2F2;
    z-index: 100;
    position: absolute;
    top: 189px;
    left: 65px;
    border: 2px solid white;
    border-radius: 10px;
    visibility: hidden;
    box-sizing: border-box;
    font-size: 0.8rem;
    -webkit-box-shadow: 2px 2px 52px -2px rgba(186,182,186,1);
    -moz-box-shadow: 2px 2px 52px -2px rgba(186,182,186,1);
    box-shadow: 2px 2px 52px -2px rgba(186,182,186,1);
  }

/* Container for Hole details */
  .HoleDetailsContainer {
    height: 58px;
    width: 100%;
    z-index: 200;
    border-bottom: 1px solid grey;
    padding: 0px;
  }

  .ScoreEntryPar, .ScoreEntryIndex {
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-top: 23px;
    color: black;

    font-weight: normal;
    }

  .ScoreEntryPar {
    margin-left: 13px;
    }

  .ScoreEntryHoleNo {
    height: 45px;
    width: 45px;
    border: 3px solid white;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 7px;
    padding-top: 7px;
    color: white;
    font-size: 1.3rem;
    background-color: #15599d;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    -moz-box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    box-shadow: 2px 2px 15px -2px rgba(252,252,252,1);
    }

  .ScoreEntryIndex {
    margin-left: 57px;
    }

/* Container for Entry Header Row */

  .PlayerHeaderContainer {
    height: 41px;
    width: 100%;
    z-index: 200;
    border-top: 3px solid #15599d;
    padding-top: 8px;
    margin-bottom: 2px;
    }

  .HeaderRowPlayer, .HeaderRowScore {
    height: 28px;
    display: inline-block;
    background-color: #15599d;
    text-align: center;
    color: white;
    padding-top: 5px;

    }

  .HeaderRowPlayer {
    width: 158px;
    margin-left: 5px;
    }

  .HeaderRowScore {
    width: 70px;
    }

/* Container for Score entries */

  .ScoreEntryContainer {
    height: 169px;
    width: 100%;
    background-color: #F2f2f2;
    z-index: 200;
    overflow: scroll;
  }

  .ScoreEntryGroupContainer {
    height: 130px;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 2px;
    margin-top: 1px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
  }

  .ScoreEntryPlayer, .ScoreEntryScore {
    height: 28px;
    display: inline-block;
    background-color: white;
    text-align: center;
    color: black;
    padding-top: 3px;
    }

  .ScoreEntryPlayer {
    width: 158px;
    margin-left: 5px;
    }

  .ScoreEntryScore {
    width: 70px;
    }


  /* Container for Nav options */

  .NavButtonContainer {
    height: 54px;
    width: 100%;
    z-index: 200;
    border-top: 3px solid #15599D;
  }

  .NavPreviousHoleText, .NavNextHoleText {
    display: inline-block;
    text-align: center;
    width: 60px;
    margin-top: 12px;
    color: black;

    font-weight: normal;
    line-height: 0.9rem;
    }

  .NavPreviousHoleText {
    margin-left: 22px;
    }

  .NavNextHoleText {
    margin-left: 82px;
    }

  #nextArrow, #previousArrow {
    position: absolute;
  }

  #nextArrow {
    width: 40px;
    left: 210px;
    top: 278px;
  }

  #previousArrow {
    width: 28px;
    left: 7px;
    top: 285px;
  }

  .NavSubmitButton {
    height: 45px;
    width: 45px;
    display: inline-block;
    position: absolute;
    left: 102px;
    top: 282px;
    padding: 0 auto;
    }

  .submitCheckMark {
      height: 40px;
      margin-left: 0px;
      margin-top: 0px;
    }



  /**** TOUR DETAILS PAGE ****/

  .TourDetails-main {
    display: grid;
    grid-template-columns: 50px 325px 50px;
    grid-template-rows: 110px repeat(3,150px) 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .TourSchedule {
      grid-area: 2 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-TourSchedule {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.5;
    border-radius: 10px;
  }

  .image-TourSchedule {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("TourScheduleImage.jpeg");
    background-repeat: no-repeat;
    background-size: auto 260px;
    background-position: bottom;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
  }

  .PlayerDetails {
      grid-area: 3 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-PlayerDetails {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
  }

  .image-PlayerDetails {
    grid-area: 3 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("PlayerDetails.JPG");
    background-repeat: no-repeat;
    background-size: auto 240px;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
  }

  .TourHistory {
      grid-area: 4 / 2 / span 1 / span 1;
      z-index: 10;
      background: transparent;
      height: 90%;
      width: 100%;
      text-align: center;
      border: 2px solid white;
  }

  .filter-TourHistory {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 5;
    height: 90%;
    width: 100%;
    background-color: #15599d;
    opacity: 0.4;
    border-radius: 10px;
  }

  .image-TourHistory {
    grid-area: 4 / 2 / span 1 / span 1;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-image: URL("TourHistoryImage.jpg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: top;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border-radius: 10px;
  }

/**** PLAYER DETAILS ****/

#subHeaderPlayerDetails {
  left: 222px;
}

.headerBuffer {
  width: 100%;
  height: 90px;
}

.playerCards {
width: 300px;
height: 90px;
border: 2px solid #15599d;
border-radius: 10px;
margin: 15px auto;
padding-top: 4px;
background-color: #faf7fa;
font-size: 0.75rem;
-webkit-box-shadow: 0px 0px 19px 0px rgba(133,130,133,1);
-moz-box-shadow: 0px 0px 19px 0px rgba(133,130,133,1);
box-shadow: 0px 0px 19px 0px rgba(133,130,133,1);
}

#playerCardPlayerNo {
  width: 45px;
  font-size: 0.5rem;
  font-weight: bold;
  color: #15599d;
  text-align: left;
  position: relative;
  padding-left: 5px;
  left: 68px;
  top:10px;
  background-color: none;
  border-radius: 2px;
}

#playerCardImage {
  width: 18%;
  border-radius: 100%;
  border: 1px solid white;
  vertical-align: middle;
  display: relative;
  margin: 0 4px;
  -webkit-box-shadow: 0px 3px 5px 3px rgba(204,200,204,1);
  -moz-box-shadow: 0px 3px 5px 3px rgba(204,200,204,1);
  box-shadow: 0px 3px 5px 3px rgba(204,200,204,1);
}

#playerCardName {
  display: inline-block;
  margin: 0px 0px 0px 3px;
  font-weight: normal;
  color: white;
  text-overflow: elipsis;
  white-space: nowrap;
  width: 37%;
  background-color: #15599d;
  padding: 5px 3px;
  border-radius: 3px;
  text-align: center;
}

#playerCardHC {
  display: inline-block;
  margin: 0px 2px;
}

#playerCardTourNo {
  display: inline-block;
  margin: 0px 2px;
}

#playerCardNat {
  display: inline-block;
  margin: 0px 3px;
  width: 8%;
  border-radius: 50%;
  vertical-align: middle;
}

#playerCardGJ {
  display: inline-block;
  margin: 0px 3px;
  width: 5%;
  position: relative;
  left: 275px;
  bottom: 60px;
}

#strengths {
display: inline-block;
font-size: 0.5rem;
width: 185px;
white-space: nowrap;
position: relative;
left: 45px;
bottom: 16px;
color: #383735;
}

#weaknesses {
display: block;
font-size: 0.5rem;
width: 200px;
white-space: nowrap;
position: relative;
left: 69px;
bottom: 13px;
overflow: scroll;
text-overflow: clip;
color: #383735;
}


#display{
    position:absolute;
    top:90px;
    width: 100%;
    height: 1000px;
    overflow:scroll;
    z-index:2;
  }

/**** TOUR SCHEDULE ****/

.TourScheduleMain {
width: 100%;
height: 600px;
}
.mainExtendTwo {
  height: 870px;
}
.mainExtendThree {
  height: 1100px;
}

.dayContainer {
  height: 110px;
  width: 350px;
  margin: 30px auto;
  background-color: #fcfaf9;
  position: relative;
  top: 0px;
  display: static;
  top: 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
  box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
}

.daySelector {
height: 110px;
width: 60px;
background-color: #15599d;
color: white;
font-weight: bold;
text-align: center;
padding-top: 40px;
display: inline-block;
}

.schIconContainer {
  height: 100px;
  width: 260px;
  display: inline-block;
  position: absolute;
  padding-top: 7px;
  padding-left: 10px;
}

.schTitleBox {
  height: 15%;
  width: 25%;
  margin: 0px 8px;
  margin-top: 10px;
  font-weight: bold;
  color:#15599d;
  display:inline-block;
  border-radius: 5px;
  font-size: 0.6rem;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: elipsis;
}

.schIconBox {
  border: 1.5px solid #15599d;
  height: 40px;
  width: 50px;
  display: inline-block;
  margin: 0px 15px;
  border-radius: 5px;
  padding-top: 3px;
  padding-left: 8px;
}

#tourSchIcon {
width: 30px;
}

.plusButton {
  width: 20px;
  position: absolute;
  top: 75px;
}

#plusButtonOne, #plusButtonFour, #plusButtonSeven {
  position: absolute;
  left: 40px;
}

#plusButtonTwo, #plusButtonFive, #plusButtonEight {
  left: 124px;
}

#plusButtonThree, #plusButtonSix, #plusButtonNine {
  left: 209px;
}

.schContentChild {
  height: 370px;
  width: 350px;
  background-color: #fcfaf9;
  z-index: 20;
  position: relative;
  display: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
  box-shadow: 0px 3px 5px 0px rgba(224,220,224,1);
}

.schLogoSelector {
height: 370px;
width: 60px;
background-color: #15599d;
color: white;
font-weight: bold;
text-align: center;
padding-top: 40px;
display: inline-block;
padding-top: 20px;
}

#tourSchGolfIconWhite {
width: 50px;
filter: grayscale() brightness(100);
}

#schContentTitle {
  color: #15599d;
}

.schContentTitle {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 30px;
  width: 280px;
  position: absolute;
  top: 20px;
  left: 66px;
  color: #15599d;
  font-weight: bold;
  padding-top: 5px;
}

.schContentDetails {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 100px;
  width: 140px;
  position: absolute;
  top: 60px;
  left: 66px;
  padding: 5px 0px;
  font-size: 0.6rem;
  color: #15599d;
  text-decoration: none;
  font-weight:normal;
  overflow: scroll;
}

.schContentImage {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 100px;
  width: 140px;
  position: absolute;
  top: 60px;
  left: 205px;
  overflow: hidden;
}

.schContentMaps {

  height: 190px;
  width: 280px;
  position: absolute;
  top: 170px;
  left: 66px;
}

a:link {
  text-decoration: none;
  color: hotpink;
}

a:visited {
  text-decoration: none;
  color: hotpink;
}

#GCwebsite {
  font-size: 0.6rem;
  text-decoration: none;
}

#schContentGCLassing {
  width: 150px;
}


/**** TOUR HISTORY PAGE

.tourHistory-main {
  display: grid;
  grid-template-columns: 50px 325px 50px;
  grid-template-rows: 1fr repeat(6,125px) 3fr;
  height: 1000px;
  width: 100%;
  justify-content: center;
}

.standard-nav {
  color: white;
  width: 300px;
  height: 100px;
  justify-self: center;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border-radius: 10px;
  font-weight: bold;
  padding: 2%;
  }

/* Three content boxes */
.tourTitle {
  display: block;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 1rem;
}

.greenJacketLogo {
  height: 50px;
  width: 175px;
  font-size: 1rem;
  display: inline-block;
  padding-top: 0px;
}

.tour-winner {
  height: 50px;
  width: 125px;
  text-align: left;
  font-size: 0.75rem;
  text-transform: capitalize;
  display: inline-block;
  padding-top: 15px;
  position: absolute;
}
/* Three content boxes */

/* Logos */
  #GreenJacket {
    width: 20px;
    position: relative;
    margin-top: 13px;
    margin-left: 150px;
  }

  #Course-logo {
    width: 25px;
    margin-right: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px;
  }
/* Logos */


  /* INDIVIDUAL CARDS */

  .Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 3;
    border: 3px solid white;

    }

  .filter-Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #f5ed0e;
    opacity: 0.1;
    z-index: 2;

    }

  .image-Lexington {
    grid-area: 2 / 2 / span 1 / span 1;
    background-image: url("http://www.mygolfvacation.com/AdvHTML_Upload/griffin1_3.jpg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: center;
    z-index: 1;

    }

    .Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid #F2F2F2;


          }

    .filter-Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      background-color: #ff956f;
      opacity: 0.5;
      z-index: 2;

      }

    .image-Savannah {
      grid-area: 3 / 2 / span 1 / span 1;
      background-image: url("http://www.teetimes.info/wp-content/uploads/2017/10/Chechessee-Creek-Club-South-Carolina1.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(1px);
      -webkit-filter: blur(1px);
      }

    .Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;
    }

    .filter-Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      background-color: #32b86a;
      opacity: 0.4;
      z-index: 2;
      }

    .image-Pinehurst {
      grid-area: 4 / 2 / span 1 / span 1;
      background-image: url("https://thegolfnewsnet.com/wp-content/uploads/2016/12/TOBACCOROAD-14-BRIANOAR-990x556.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      }

    .Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;
    }

    .filter-Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      background-color: #B47B34;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Nashville {
      grid-area: 5 / 2 / span 1 / span 1;
      background-image: url("https://golfadvisor.brightspotcdn.com/dims4/default/2cc70bd/2147483647/strip/true/crop/930x600+176+0/resize/930x600!/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F8d%2F0f%2F1e3a2912c47d3040e03014f05702%2F93117.jpg");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Dallas {
    grid-area: 6 / 2 / span 1 / span 1;
    z-index: 3;
    border: 2px solid white;

    }

    .filter-Dallas {
      grid-area: 6 / 2 / span 1 / span 1;
      background-color: #001643;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Dallas {
      grid-area: 6 / 2 / span 1 / span 1;
      background-image: url("https://www.cowboysgolfclub.com/sites/www.cowboysgolfclub.com/files/Copy%20of%20course_star.JPG");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Tampa {
    grid-area: 7 / 2 / span 1 / span 1;
    z-index: 3;
    border: 2px solid white;

    }

    .filter-Tampa {
      grid-area: 7 / 2 / span 1 / span 1;
      background-color: #f5ed0e;
      opacity: 0.2;
      z-index: 2;

      }

    .image-Tampa {
      grid-area: 7 / 2 / span 1 / span 1;
      background-image: url("https://golfadvisor.brightspotcdn.com/dims4/default/928717c/2147483647/strip/true/crop/1280x764+0+44/resize/1440x860!/format/jpg/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F51%2F0a%2F83f3a3efcb28b6dd81854b7c5d8f%2Fp.php");
      background-repeat: no-repeat;
      background-size: auto 200px;
      background-position: center;
      z-index: 1;
      filter: blur(2px);
      -webkit-filter: blur(2px);

      }

    .Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      z-index: 3;
      border: 2px solid white;

    }

    .filter-Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      background-color: #8a8785 ;
      opacity: 0.4;
      z-index: 2;

      }

    .image-Charleston {
      grid-area: 8 / 2 / span 1 / span 1;
      background-image: url("TheOrigin.JPG");
      background-repeat: no-repeat;
      background-size: auto 400px;
      background-position: center;
      z-index: 1;
      filter: blur(1px);
      -webkit-filter: blur(1px);

      }

  #return-home {
    margin-top: 10px;
    margin-left: 320px;
    width: 30px;
    display: block;
  }

/* Under Construction */

.construction {
  color: #15599d;
  grid-area: 2 / 2 / span 1 / span 1;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  -moz-box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  box-shadow: 5px 6px 235px -26px rgba(117,117,117,1);
  border: 2px solid #15599d;
  border-radius: 10px;
  font-weight: bold;
  }

#engineer {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 150px;
  display: block;
}

.linearGradMain {
  height: 500px;
  width: 100%;
  border: 1px solid black;
  background-image: linear-gradient(to right, rgba(250, 0, 0, 0.9), rgba(0,0,0,0.1)), url(playerImageDB.jpg);
  background-size: cover;
  background-position: center;
}
